@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-family: "Helvetica Neue", sans-serif;
}
.header {
  width: 100%;
}
.body-header {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
}
.header-fix {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 0 40px 0 20px;
  background-color: #ffffff;
}
.body-banner {
  background: url(/img/banner.jpg) no-repeat bottom / cover;
  height: 425px;
}
.logo {
  display: flex;
  width: 259.41px;
  height: 30px;
}
.logo img {
  width: 259.41px;
}
.btn-login {
  color: #43b02a;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  vertical-align: middle;
}
.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 259.41pxpx;
}
.right-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}
.img-banner img {
  width: 100%;
}
.box-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 120px;
  width: 450px;
  gap: 25px;
}
.title-banner {
  font-size: 46px;
  font-weight: 400;
  line-height: 58px;
  width: 216.25px;
  height: 178px;
  color: #212121;
}
.p-banner {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #757575;
}
.btn-banner {
  width: 179.89px;
  height: 48px;
  background-color: #43b02a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.slide1 {
  width: 100%;
  background-color: #00835c;
  display: flex;
  justify-content: center;
}
.body-slide1 {
  display: flex;
  justify-content: center;
  width: 1024px;
  height: 264px;
  align-items: center;
}
.title-slide1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  vertical-align: middle;
  letter-spacing: 0%;
  position: relative;
  bottom: 37px;
  width: 360px;
  height: 90px;
}
.box1-slide1 {
  width: 300px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.box2-slide1 {
  width: 300px;
  gap: 20px;
  display: flex;

  flex-direction: column;
}
.p-slide1 {
  color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}
.slide2 {
  background-color: #f7f7f7;
  width: 100%;
  height: 348px;
}
.body-slide2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 64px;
  height: 348px;
}
.title-slide2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  color: #424242;
}
.p-slide2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #757575;
}
.box1-slide2 {
  width: 400px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.box2-slide2 {
  position: relative;
  top: 24px;
  height: 301px;
}
.slide3 {
  width: 100%;
  height: 520px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.box1-slide3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box2-slide3 {
  display: flex;
  height: 370px;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.title-slide3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 1.08px;
  color: #424242;
}
.title2-slide3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.6px;
  color: #212121;
  text-align: center;
  vertical-align: middle;
}
.p-slide3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.48px;
  color: #757575;
  text-align: center;
}
.info1-slide3 {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  height: 370px;
}
.info2-slide3 {
  width: 290.23px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 370px;
}
.info3-slide3 {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  height: 370px;
}
.slide4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.body-slide4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.title-slide4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 1.08px;
  color: #424242;
  text-align: center;
}
.title2-slide4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.66px;
  text-align: center;
  color: #212121;
}
.p-slide4 {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-align: center;
}
.btn-get {
  color: #43b02a;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  vertical-align: middle;
}
.box1-slide4 {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 376.89px;
}
.boxleft1-slide4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 330px;
  height: 272px;
  justify-content: flex-start;
}
.boxright1-slide4 {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 8px;
  box-shadow: 0 1.71px 6.85px 0 rgba(0, 0, 0, 0.16);
  width: 600px;
  height: 360px;
  justify-content: center;
}
.box2-slide4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 64px;
  height: 329.83px;
}
.boxleft2-slide4 {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 25px;
  width: 550.3px;
  justify-content: center;
  align-items: center;
}
.boxright2-slide4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 330px;
  height: 272px;
}
.box3-slide4 {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 328.97px;
}
.boxleft3-slide4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 330px;
  height: 248px;
  justify-content: flex-start;
}
.boxright3-slide4 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 564px;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  color: #212121;
}
.slide1 .btn-banner {
  width: 201.89px;
  height: 48px;
  background-color: #43b02a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.info1-box1-slide4 {
  display: flex;
  flex-direction: column;
  width: 166.03px;
}
.header-info1-box1 {
  display: flex;
  justify-content: space-between;
  width: 166.03px;
}
.left-info1-slide4 {
  background: url(/img/sponsored.png) no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px 2px 0px;
  font-size: 14px;
  color: #ffffff;
  width: 92px;
  height: 20px;
  margin-right: auto;
}
.right-info1-slide4 {
  color: #43b02a;
  width: 21px;
  height: 21px;
  border: 2px solid #43b02a;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-info1-slide4 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.price-info1 {
  font-weight: bolder;
  color: #424242;
}
.name-info1 {
  color: #424242;
}
.about-info1 {
  color: #757575;
}
.img-prd {
}
.p-info2 {
  color: #757575;
  width: 409.06px;
}
.icon-info2 {
  background: url(/img/Group.png);
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  left: 62.5%;
}
.badge1-info2 {
  width: 409.06px;
  height: 13.69px;
  background-color: #f2f8ff;
  border-radius: 8px;
}
.badge2-info2 {
  width: 299.54px;
  height: 13.69px;
  background-color: #2b78c6;
  border-radius: 8px;
}
.bar-info2 {
  width: 409.06px;
}
.bar2-info2 {
  width: 409.06px;
}
.price-info2 {
  width: 409.06px;
}
.header-info3 {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}
.body3-slide4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.title-info3 {
  color: #757575;
}
.p-info3 {
  color: #212121;
  font-size: 18px;
}
.line-img {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.if1-slide4 {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.ct-img {
  position: absolute;
}
.content-img {
  position: absolute;
  top: -125px;
}
.content2-img {
  position: absolute;
  top: -125px;
}
.icon-slide4 img {
  width: 64px;
  height: 64px;
}
.icon-slide4 {
  width: 64px;
  height: 64px;
}
.gap-box {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  justify-content: center;
}
